{% extends "Ecommerce/home-page.html" %}
{% load static %}
{% load cart_template_tags %}
{% load crispy_forms_tags %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(e) { 
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');
var use_default_billing = document.querySelector("input[name='use_default_billing']");
var use_default_shipping = document.querySelector('input[name="use_default_shipping_address"]');

console.log(use_default_shipping)
if (use_default_billing){
    use_default_billing.addEventListener('change', function() {
    if (this.checked) {
    hideable_billing_form.hide();
    } else {
    hideable_billing_form.show();
    }
    })};

if (use_default_shipping){
use_default_shipping.addEventListener('change', function() {
    if (this.checked) {
    hideable_shipping_form.hide();
    } else {
    hideable_shipping_form.show();
    }
    })} ;
});
</script>
    
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout Page</title>
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
{% endblock head %}
{% block body %}
    <!-- Navbar -->
    {% include 'Ecommerce/navbar.html' %}
    <!-- Navbar -->
    <!--Main layout-->
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Checkout form</h2>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 mb-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card content-->
                        <form class="card-body" method="POST" action="{% url 'check_out' %}">
                            {% csrf_token %}
                            <h3>Shipping Address</h3>
                            <hr>
                            <div class='hideable_shipping_form'>
                                <!--address-->
                                <div class="md-form mb-5">
                                    <input type="text"
                                           id="shipping_address1"
                                           name='shipping_address1'
                                           class="form-control"
                                           placeholder="Street Address1">
                                    <label for="shipping_address1" class=""></label>
                                </div>
                                <!--address-2-->
                                <div class="md-form mb-5">
                                    <input type="text"
                                           id="shipping_address2"
                                           name="shipping_address2"
                                           class="form-control"
                                           placeholder="Appartment Address">
                                    <label for="address-2" class=""></label>
                                </div>
                                <!--Grid row-->
                                <div class="row">
                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-12 mb-4">
                                        <label for="country">Country</label>
                                        {{ form.shipping_country }}
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-6 mb-4">
                                        <label for="zip">Zip</label>
                                        <input type="text"
                                               class="form-control"
                                               name="shipping_zip"
                                               id="shipping_zip"
                                               placeholder=""
                                               required>
                                        <div class="invalid-feedback">Zip code required.</div>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                                <hr>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="same_billing_address1"
                                           name="same_billing_address1">
                                    <label class="custom-control-label" for="same_billing_address1">
                                        Shipping address is the same as my billing address
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           name="set_default_shipping"
                                           id="set_default_shipping">
                                    <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
                                </div>
                            </div>
                            {% if  default_shipping_address %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           name="use_default_shipping_address"
                                           id="use_default_shipping_address">
                                    <label class="custom-control-label" for="use_default_shipping_address">
                                        {{ default_shipping_address.street_address|truncatechars:10 }}
                                    </label>
                                </div>
                            {% endif %}
                            <hr>
                            <h3>Billing Address</h3>
                            <div class='hideable_billing_form'>
                                <!--address-->
                                <div class="md-form mb-5">
                                    <input type="text"
                                           id="billing_address1"
                                           name='billing_address1'
                                           class="form-control"
                                           placeholder="Street Address">
                                    <label for="billing_address" class=""></label>
                                </div>
                                <!--address-2-->
                                <div class="md-form mb-5">
                                    <input type="text"
                                           id="billing_address2"
                                           name="billing_address2"
                                           class="form-control"
                                           placeholder="Appartment Address">
                                    <label for="billing_address2" class=""></label>
                                </div>
                                <!--Grid row-->
                                <div class="row">
                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-12 mb-4">
                                        <label for="country">Country</label>
                                        {{ form.billing_country }}
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-4 col-md-6 mb-4">
                                        <label for="zip">Zip</label>
                                        <input type="text"
                                               class="form-control"
                                               name="billing_zip"
                                               id="billinh_zip"
                                               placeholder="Zip Code">
                                        <div class="invalid-feedback">Zip code .</div>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                                <hr>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="same_billing_address"
                                           name="same_billing_address">
                                    <label class="custom-control-label" for="same_billing_address">
                                        Billing address is the same as my shipping address
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           name="set_default_billing"
                                           id="set_default_billing">
                                    <label class="custom-control-label" for="set_default_billing">Save as default Billing address</label>
                                </div>
                            </div>
                            {% if default_billing_address %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           name="use_default_billing"
                                           id="use_default_billing">
                                    <label class="custom-control-label" for="use_default_billing">
                                        {{ default_shipping_address.street_address|truncatechars:10 }}
                                    </label>
                                </div>
                            {% endif %}
                            <hr>
                            <h3>Payment Option</h3>
                            <div class="d-block my-3">
                                {% for value,name in form.fields.payment_option.choices %}
                                    <div class="custom-control custom-radio">
                                        <input id="{{ name }}"
                                               name="payment_option"
                                               type="radio"
                                               value="{{ value }}"
                                               class="custom-control-input"
                                               required>
                                        <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                        </form>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
                <!--Grid column-->
                {% include 'Ecommerce/order_snippet.html' %}
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
        <!--Call to action-->
        <!--/.Call to action-->
        <hr class="my-4">
        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com/mdbootstrap" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>
            <a href="https://twitter.com/MDBootstrap" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>
            <a href="https://plus.google.com/u/0/b/107863090883699620484"
               target="_blank">
                <i class="fab fa-google-plus-g mr-3"></i>
            </a>
            <a href="https://dribbble.com/mdbootstrap" target="_blank">
                <i class="fab fa-dribbble mr-3"></i>
            </a>
            <a href="https://pinterest.com/mdbootstrap" target="_blank">
                <i class="fab fa-pinterest mr-3"></i>
            </a>
            <a href="https://github.com/mdbootstrap/bootstrap-material-design"
               target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>
            <a href="http://codepen.io/mdbootstrap/" target="_blank">
                <i class="fab fa-codepen mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->
    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
    // Animations initialization
    {% comment %} new WOW().init();
    {% endcomment %}
    </script>
{% endblock body %}
