{% extends 'Ecommerce/home-page.html' %}
{% block title %}Order-Status-Update{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
    {% include 'Ecommerce/navbar.html' %}
    <div class="container " style=" margin: 100px; ">
        <h3>Add Item</h3>
        <form method="POST"
              action="{% url 'update-order-status' pk %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success mt-2">
        </form>
    </div>
{% endblock body %}
