{% extends 'Ecommerce/home-page.html' %} {% block title %}Logout{% endblock title %} {% block body %} {% load socialaccount %} {% load static %}


    <div class="container text-center float-center" style=" margin-top: 93px; ">
       {% include 'Ecommerce/navbar.html' %}
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <h3>Are you sure want to logout?</h3>
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <a class="btn btn-success mt-2" href="{% url 'home' %}"  style="
        width: 122px;
        height: 45px;">Cancel </a>
          
    </div>
        
        
       
 
    


{% endblock body %}